@model capstone.Models.prodotti
@{

    string[] parti = Model.descrizione.Split(new string[] { "tr" }, StringSplitOptions.RemoveEmptyEntries);

    List<string> partiDaVisualizzare = new List<string>();

    foreach (string parte in parti)
    {
        string parteTrimmed = parte.Trim();
        if (parteTrimmed == "br")
        {
            break;
        }
        if (parteTrimmed != "")
        {
            partiDaVisualizzare.Add(parteTrimmed);
        }

    }
    <div class="d-flex">
        <img src="~/Content/img/@Model.fotoprodotto" class="imgpr" />
        <div>

            <div id="imp">
                <h1> @Model.nomeprodotto</h1>
                <p>prezzo @Model.prezzo €</p>
                <h4>inserisci le carateristche del prodotto con nome carateristca descrizione es{colore : nero} si consigliano poche parole chiavi </h4>

                @for (var i = 0; i < partiDaVisualizzare.Count; i++)
                {
                    if (i % 2 == 0)
                    {
                        <div class="sep">
                            <input id="imp1" placeholder="inserire nome campo" value="@partiDaVisualizzare[i]" />
                            <input id="imp2" placeholder="inserire descrizione" type="text" value="@partiDaVisualizzare[i+1]" />
                        </div>
                    }
                }

                <div class="sep">
                    <input id="imp1" placeholder="inserire nome campo" />
                    <input id="imp2" placeholder="inserire descrizione" type="text" />
                </div>
                <div class="sep">
                    <input id="imp3" />
                    <input id="imp4" />
                </div>
                <div class="sep">
                    <input id="imp5" />
                    <input id="imp6" />
                </div>
                <div class="sep">
                    <input id="imp7" />
                    <input id="imp8" />
                </div>
                <div class="sep">
                    <input id="imp9" />
                    <input id="imp10" />
                </div>
            </div>
            <button id="btn"> aggiungi carateristiche</button>
            <div>
            </div>
            <a id="add-car" class="btn"> aggiungi riga di caratteristiche</a>
            <a href="/confemacampi"> confemacampi </a>
            <div>
                <div id="imparea">
                    <h4>inserisci descrizioni come per esempio le fuzioni o dettagli delle carateristiche</h4>
                    <div class="area">
                        <textarea id="textarea1"> </textarea>
                    </div>
                    <div class="area">
                        <textarea id="textarea2"> </textarea>
                    </div>
                </div>
                <a id="add-car2" class="btn"> aggiungi riga di caratteristiche</a>
            </div>
        </div>
    </div>

}

@section scripts {
    <script>
        $(document).ready(function () {
            // Seleziona l'elemento UL per il suo ID
            var impElement = document.getElementById("imp");

            // Conta il numero di elementi LI all'interno dell'UL
            var numeroDiElementiLI = impElement.getElementsByTagName("input").length;
            var numeroDiElementiLI2 = numeroDiElementiLI / 2
            $("#add-car").click(function () {
                var div = `<div class="sep">
                                                      <input id="imp${numeroDiElementiLI + 1}" />
<input id="imp${numeroDiElementiLI + 2}" />
</div>`
                $("#imp").append(div)
                numeroDiElementiLI = ulElement.getElementsByTagName("input").length;
                console.log(numeroDiElementiLI)
                numeroDiElementiLI2 = numeroDiElementiLI / 2
            })

            function getimp() {
                $(`#btn`).click(function () {
                    console.log(numeroDiElementiLI2)
                    var input
                    for (var i = 0; i < numeroDiElementiLI2; i++) {
                        var n1 = (i + 1) * 2;
                        var n2 = (i + 1) * 2 - 1;
                        var val1 = $(`#imp${n2}`).val();
                        var val2 = $(`#imp${n1}`).val();
                        if (input != undefined) {
                            input += " tr " + val1 + " tr " + val2;
                        }
                        else {
                            input = " tr " + val1 + " tr " + val2;
                        }
                    }

                    $.ajax({
                        method: 'POST',
                        url: 'adddestcrizione',
                        data: { imp: input },
                        sucess: function (data) {

                        }
                    })
                }
                )
            }
            getimp()
            var txtElement = document.getElementById("imparea");

            // Conta il numero di elementi LI all'interno dell'UL
            var numeroDiElementi = txtElement.getElementsByTagName("textarea").length;
            $("#add-car2").click(function () {
                var div = `<div class="area">
                                                    <textarea id="textarea${numeroDiElementi + 1}"> </textarea>
                                                </div>`
                $("#imparea").append(div)
                numeroDiElementi = txtElement.getElementsByTagName("textarea").length
                gettext()

            })
            function gettext() {
                for (var i = 0; i < numeroDiElementi; i++) {
                    var val = $(`#textarea${i + 1}`)
                    var input
                    if (input != undefined) {
                        input += " tr " + val
                    }
                    else {
                        input = " tr " + val1
                    }
                    $.ajax({
                        method: 'POST',
                        url: 'adddestcrizionelg',
                        data: { imp: input },
                        sucess: function (data) {

                        }
                    }
                }
                gettext()
            })
    </script>
}