/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}
.imgpr{
    height :400px;
    width:400px;
    margin-right : 20px
}
.area textarea {
    width: 437px;
    height: 100px;
}


/* Set width on the form input elements since they're 100% wide by default */
