/* Set padding to keep content from hitting the edges */


footer {
    margin-top: auto;
}

main {
    flex: 1;
}
body {
    background-color: #1b1a19;
    color: #d2d0ce;
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
footer {
    bottom: 0;
    position: sticky;
    background-color: #292828;
    z-index: 10;
    width: 100%
}

@media screen and (max-width:800px) {
    body {
        font-size: 0.7em
    }
}

.contentDiv {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 90.5%;
}

.imgpr {
    height: 400px;
    width: 400px;
    margin-right: 20px
}

.area textarea {
    width: 437px;
    height: 200px;
}

.comment {
    color: #fea21c;
    cursor: pointer;
}


.fa-solid {
    color: #fea21c;
}

.imgCarello {
    height: 200px;
    width: 200px;
    margin-right: 20px;
 
}

.table2 > :not(caption) > * > * {
    padding: 0.5rem 0.5rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}
.table2 {
    padding: 0.5rem 0.5rem;
    background-color: var(--bs-table-bg);
    border-bottom-width: 1px;
    box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
    --bs-table-bg: transparent;
    --bs-table-border-color: var(--bs-border-color);
    --bs-table-accent-bg: transparent;
    --bs-table-striped-color: var(--bs-body-color);
    --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
    --bs-table-active-color: var(--bs-body-color);
     --bs-table-active-bg: rgba(0, 0, 0, 0.1);
    --bs-table-hover-color: var(--bs-body-color);
    --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
    width: 100%;
    margin-bottom: 1rem;
    color: var(--bs-table-color);
    vertical-align: top;
    border-color: var(--bs-table-border-color);
    caption-side: bottom;
    border-collapse: collapse;
}
thead, tbody, tfoot, tr, td, th {
    border-color: inherit; 
    border-style: solid; 
     border-width: 0;

}
.modal1 {
    --bs-modal-bg:  #1b1a19;

}
input, textarea , .input{
    padding-top: unset;
    overflow: hidden;
    height: unset;
    white-space: nowrap;
    resize: none;
    white-space: unset;
    background-color: #303134;
    color: #d2d0ce;
    border: none;
    margin: 10px;
    margin-left:0px;
    padding: 12px;
    border-radius: 15px;
    width: 250px;
}
    input[type=file]::file-selector-button {
        background-color: #303134;
        color: #d2d0ce;
        border-radius: 15px;
        cursor: pointer;
        border-color: transparent;
    }
    
    input::-webkit-search-cancel-button {
        -webkit-appearance: none;
        display: none;
    }


   
    textarea {
        line-height: 36px;
    }

    input:hover, textarea:hover {
        box-shadow: 0 4px 12px rgba(23,23,23,0.9);
        border-color: rgba(223,225,229,0);
    }

.btn, button {
    background-color: #303134;
    color: #d2d0ce;
    border-radius: 14px;
    border-color: transparent;
    margin: 5px;
    padding: 12px 57px;
}

input {
    padding: 6px;
    border-radius: 5px;
}

#input {
    margin: 0;
    width: 450px
}

::-webkit-scrollbar {
    width: 14px
}

::-webkit-scrollbar-track {
    background: #303134
}

::-webkit-scrollbar-thumb {
    background: #545454;
}
.nav2 {
    background: #0f0f0f;
    height: 65px;
}

#i {
    font-size: 1.5rem;
    cursor: pointer;
}
.indexbtn{
    padding:4px
}
.a 
{
    color: inherit;
    text-decoration: inherit;
}
