/* Set padding to keep content from hitting the edges */


footer {
    margin-top: auto;
}

main {
    flex: 1;
}
body {
    background-color: #1b1a19;
    color: #d2d0ce;
    font-size: 0.9em;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
footer {
    bottom: 0;
    position: sticky;
    background-color: #11100f;
    z-index: 10;
    width: 100%
}

@media screen and (max-width:800px) {
    body {
        font-size: 0.7em
    }
}

.contentDiv {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
    min-height: 90.5%;
}

.imgpr {
    height: 400px;
    width: 400px;
    margin-right: 20px
}

.area textarea {
    width: 437px;
    height: 200px;
}

.comment {
    color: #fea21c;
    cursor: pointer;
}


.fa-solid {
    color: #fea21c;
}

.imgCarello {
    height: 200px;
    width: 200px;
    margin-right: 20px
}

input, textarea , .input{
    padding-top: unset;
    overflow: hidden;
    height: unset;
    white-space: nowrap;
    resize: none;
    white-space: unset;
    background-color: #303134;
    color: #d2d0ce;
    border: none;
    margin: 10px;
    margin-left:0px;
    padding: 12px;
    border-radius: 15px;
    width: 250px;
}
    input[type=file]::file-selector-button {
        background-color: #303134;
        color: #d2d0ce;
        border-radius: 15px;
        cursor: pointer;
        border-color: transparent;
    }
    
    input::-webkit-search-cancel-button {
        -webkit-appearance: none;
        display: none;
    }


   
    textarea {
        line-height: 36px;
    }

    input:hover, textarea:hover {
        box-shadow: 0 4px 12px rgba(23,23,23,0.9);
        border-color: rgba(223,225,229,0);
    }

.btn, button {
    background-color: #303134;
    color: #d2d0ce;
    border-radius: 14px;
    border-color: transparent;
    margin: 5px;
    padding: 12px 57px;
}

input {
    padding: 6px;
    border-radius: 5px;
}

#input {
    margin: 0;
    width: 450px
}

::-webkit-scrollbar {
    width: 14px
}

::-webkit-scrollbar-track {
    background: #303134
}

::-webkit-scrollbar-thumb {
    background: #545454;
}
.nav2 {
    background: #0f0f0f;
    height: 65px;
}

#i {
    font-size: 1.5rem;
    cursor: pointer;
}
.indexbtn{
    padding:4px
}